name: Tests

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

    - name: Restore dependencies
      run: nix develop --command dotnet restore

    - name: Build
      run: nix develop --command dotnet build --no-restore --configuration Release

    - name: Test
      run: nix develop --command dotnet test --no-build --configuration Release --verbosity normal
